///Media Screen//
@media screen and (min-width: 768px){
  ///Navigation///
    .nav_collapsed {
      display: none;
    }
    .more-about div {
      margin-top: 25px;
    }
    .nav-full-site-options {
      height: 60px;
      background: #000;
      color: #fff;
      display: inline-block;
      width: 100%;
      padding-top: 20px;
    }
    .nav-left {
      float: left;
      padding-left: 10px;
      margin-left: 0px;
    }

    .nav-right {
      float: right;
    }
    ul {
      list-style:  none;
      display: inline-block;
    }
    li {
      display: inline-block;
      padding-right: 20px;
    }

    li .logo {
      width: 25px;
      height: 25px;
    }

    li:hover {
      background-color: rgba(156, 156, 156, .3);
    }
    .we-help p{
      font-size: 18px;
      line-height: 1.5;
    }
    ///grid///
    div .employee-grid {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    ///more-about box///
    .more-about{
      color: #fff;
      font-weight: 100;
      border: 1.5px solid #fff;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      width: 30%;
      text-align: center;
      padding-top: 10px;
      letter-spacing: 1px;
    }
//we help//
    .we-help {
      background-color: #fff;
      text-align: center;
      height: 200px;
      line-height: 1.25;
      margin-left: 12px;
      margin-right: 12px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .container-help-and-thumbnails {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    ///Jumbotrons///
    div .jumbo-small-mighty {
      background: url("../images/solrod-team-background.jpg");
      background-size: cover;
      height: 500px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .mighty-overlay img{
      	margin-left: 350px;
        width: 40%;
        height: 40%;
        display: block;
    }
    div .Jumbo-join-us{
      background: url("../images/solrod-drawingboard-background.jpg");
      background-size: cover;
      margin-top: 100px;
      height: 500px;
      padding-top:  200px;
      margin: 0px;
    }
    div .art-grant-grid {
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    div .text{
      width: 200px;
      height: 50px;
      color: #fff;
      background-color: #34495E;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 10px;
      border-radius: 5%;
    }
    .social {
      float: right;
    }
  }
